.Title {
  font-family: "TitilliumWeb-Bold";
  font-size: 40px;
  color: @WelcomeTitle-color;
  text-align: justify;
  line-height: 1.2;
  width: 746px;
  margin: auto;
  &--width905 {
    width: 905px;
  }
}