.Card {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  &-image {
    height: 128px;
  }

  &-title {
    font-family: "TitilliumWeb-Bold";
    font-size: 24px;
    color: @Card-titleColor;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 48px;
  }

  &-text {
    width: 194px;
    font-family: "TitilliumWeb-Light";
    font-size: 16px;
    color: @Card-textColor;
    text-align: center;
    line-height: 1.5;
    padding-top: 13px;
  }
}