html, body{
  height: 100%;
}

.u-fullWidth {
	width: 100%;
}

.u-cardConteiner {
  padding-top: 78px;
  padding-bottom: 126px;
}

.u-cardWrap {
  display: flex;
  justify-content: center;
}

.u-paddingtop64 {
  padding-top: 64px;
}

.u-paddingtop57 {
  padding-top: 57px;
}

.u-paddingbottom138{
  padding-bottom: 114px;
}

.u-paddingbottom76 {
  padding-bottom: 76px;
}

.u-textConteiner {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 52px;
}

.u-paddingtop141 {
  padding-top: 141px;
}

.u-paddingbottom128 {
  padding-bottom: 128px;
}