<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cuda</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="../styles/Header/Header.less">
</head>
<body>
	<main class="u-fullWidth">
		<section class="Welcome">
			<div class="Welcome-conteiner">
				<header class="Header">
					<div class="Header-logoConteiner">
						<img class="Header-logo" src="images/logo.png" alt="logo">
					</div>
					<nav>
						<ul class="Header-nav">
							<li class="Header-navItem isActive">
								<a class="Header-navItemLink" href="#">Home</a>
							</li>
							<li class="Header-navItem">
								<a class="Header-navItemLink" href="#">About</a>
							</li>
							<li class="Header-navItem">
								<a class="Header-navItemLink" href="#">Work</a>
							</li>
							<li class="Header-navItem">
								<a class="Header-navItemLink" href="#">Blog</a>
							</li>
							<li class="Header-navItem">
								<a class="Header-navItemLink" href="#">Contact</a>
							</li>
						</ul>
					</nav>
				</header>
				<div class="Welcome-content">
					<h1 class="Title">Hi there! We are the new kids on the block</h1>
					<h1 class="Title Title--width905">and we build awesome websites and mobile apps</h1>
					<div class="Welcome-buttonConteiner">
						<a href="#" class="Button">Work with us!</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>