<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cuda</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="Welcome">
		<header class="u-flexrow">
			<div class="Welcome-logoConteiner">
				<img class="Welcome-logo" src="images/logo.png" alt="logo">
			</div>
			<nav class="Welcome-nav">
				<ul class="u-flexrow">
					<li>
						<a class="Welcome-link" href="#">home</a>
					</li>
					<li>
						<a class="Welcome-link" href="#">about</a>
					</li>
					<li>
						<a class="Welcome-link" href="#">work</a>
					</li>
					<li>
						<a class="Welcome-link" href="#">blog</a>
					</li>
					<li>
						<a class="Welcome-link" href="#">contact</a>
					</li>
				</ul>
			</nav>
		</header>
		<article class="u-flexcenter">
			<section class="Welcome-text">
				Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
			</section>
		</article>
		<div class="u-flexcenter">
			<a class="Welcome-button" href="#">work with us!</a>
		</div>
	</div>
	<div class="Services">
		<header class="Services-text">
			<div class="Services-weprovide">services we provide</div>
			<div class="Services-line"></div>
			<div class="Services-weareworking">We are working with both individuals and businesses from all over the globe to create awesome websites and aplications.</div>
		</header>
		<article class="Services-cardConteiner">
			<section class="Services-card">
				<img class="Services-cardImage" src="images/icons/Flagicon.png" alt="Flag">
				<div class="Services-cardTitle">Branding</div>
				<div class="Services-cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
			</section>
			<section class="Services-card">
				<img class="Services-cardImage" src="images/icons/Crayonicon.png" alt="Crayon">
				<div class="Services-cardTitle">Design</div>
				<div class="Services-cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
			</section>
			<section class="Services-card">
				<img class="Services-cardImage" src="images/icons/Gearsicon.png" alt="Gears">
				<div class="Services-cardTitle">Development</div>
				<div class="Services-cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
			</section>
			<section class="Services-card">
				<section class="Services-card">
				<img class="Services-cardImage" src="images/icons/Rocketicon.png" alt="Rocket">
				<div class="Services-cardTitle">Rocket science</div>
				<div class="Services-cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
			</section>
		</article>
	</div>
</body>
</html>