@blackout: rgba(0,0,0,0.3);
@blackout--rgba00001: rgba(0,0,0,0.1);

@Welcome-background: #87509c;
@Services-background: #17c2a4;
@Skills-background: #ffffff;
@Portfolio-background: #ffdd99;
@Testimonials-background: #d74680;
@Getin-background: #3c5499;
@Team-background: #e7f1f8;

@Header-navItemLink--color: #ffffff;
@Header-navItemLinkPortfolio--color: #393939;

@Title-color: #f7f3ea;
@Title-team--color: #535e75;
@Title-skills--color: #535e75;
@Title-portfolio--color: #393939;
@Title-testimonials--color: #ffffff;
@Title-getin--color: #ffffff;

@Subtitle-color: #ffffff;
@Subtitle-team--color: #3c4761;
@Subtitle-skills--color: #566076;
@Subtitle-portfolio--color: #534f46;

@Button-font--color: #ffffff;
@Button-welcome--background: #eb7d4b;
@Button-portfolio--background: #17c2a4;
@Button-getin--background: #30bae7;

@Card-title--color: #e0f7f3;
@Card-titleTeam--color: #3c4761;
@Card-titleSkills--color: #3c4761;
@Card-titleTestimonials--color: #ffffff;
@Card-subtitle--color: #30bae7;
@Card-subtitleTestimonials--color: #ffdd99;
@Card-text--color: #ffffff;
@Card-textTeam--color: #535e75;
@Card-textPortfolio--color: #534f46;

@Form-element--background: #273a71;
@Form-placeholder--color: #ffffff;

@Footer-background: #344b8e;
@Footer-link--color: #ffffff;
@Footer-LinkHover--color: #30bae7;


