@blackout: rgba(0,0,0,0.3);
@Welcome-background: #87509c;
@HeaderLink-color: #ffffff;
@Title-color: #f7f3ea;
@Button-background: #eb7d4b;
@Button-color: #ffffff;
@Services-background: #17c2a4;
@Subtitle-color: #ffffff;
@Card-titleColor: #e0f7f3;
@Card-textColor: #ffffff;